* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: $base-font-size;
}

body {
  font-size: map-get($font-sizes, 'md');
  font-family: $base-font-family;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
