// http://www.spritecow.com/

.spirit {
  background: url(../assets/index.png) no-repeat;
  background-size: 7.5rem 9.1rem; // 750/2 = 375px same as iPhone 6/7/8
  display: inline-block;

  // Topbar
  &.topbar {
    width: 7.5rem;
    height: 0.9rem;
    background-position: 0 87.195%;
  }
  &.logo-small {
    width: 0.6rem;
    height: 0.6rem;
    background-position: 0 72.588%;
  }
  &.download {
    width: 1.2rem;
    height: 0.48rem;
    background-position: 18.73% 71.694%;
  }

  // Nav icons
  &.blz {
    width: 0.46rem;
    height: 0.4rem;
    background-position: 63.546% 15.517%;
  }
  &.gsz {
    width: 0.46rem;
    height: 0.4rem;
    background-position: 90.483% 15.614%;
  }
  &.zbsc {
    width: 0.38rem;
    height: 0.44rem;
    background-position: 36.746% 0.924%;
  }
  &.tyf {
    width: 0.4rem;
    height: 0.4rem;
    background-position: 10.408% 15.517%;
  }
  &.xrzq {
    width: 0.4rem;
    height: 0.42rem;
    background-position: 89.733% 1.266%;
  }
  &.rycc {
    width: 0.48rem;
    height: 0.4rem;
    background-position: 36.467% 15.287%;
  }
  &.wzyd {
    width: 0.48rem;
    height: 0.48rem;
    background-position: 63.3% 0.927%;
  }
  &.gzh {
    width: 0.48rem;
    height: 0.4rem;
    background-position: 0 96.207%;
  }

  &.sq {
    width: 0.2rem;
    height: 0.2rem;
    background-position: 38.577% 52.076%;
  }

  // Cards
  &.dots {
    width: 0.36rem;
    height: 0.06rem;
    background-position: 47.619% 56.305%;
  }
  &.xw {
    width: 0.26rem;
    height: 0.26rem;
    background-position: 0.138% 50.452%;
  }
  &.hero {
    width: 0.24rem;
    height: 0.26rem;
    background-position: 46.768% 60.452%;
  }
}

// Article
.spirit.article-back {
  background: url(../assets/backBg.png) no-repeat center;
  background-size: 100%;
  display: inline-block;
}
