$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, STHeiTi, '微软雅黑', sans-serif;
$base-font-size: 50px;
$font-sizes: (
  'xxs': 0.16rem,
  'xs': 0.2rem,
  'sm': 0.24rem,
  'md': 0.26rem,
  'lg': 0.28rem,
  'xl': 0.32rem,
);

$colors: (
  'primary': #db9e3f,
  'white': #fff,
  'grey': #999,
  'bg': #ededed,
  'dark': #212222,
  'black': #000,
  'info': #1e96ab,
  'hot': #ff3636,
  'race': #4d9cff,
  'swiper': #4b67af,
);
