// FONTS
$base-font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
  'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

/*
.font-xs: 10px
.font-sm: 12px
.font-md: 13px
.font-lg: 14px
.font-xl: 16px
*/
$base-font-size: 50px;
$font-sizes: (
  'xs': 0.2rem,
  'sm': 0.24rem,
  'md': 0.26rem,
  'lg': 0.28rem,
  'xl': 0.32rem,
);
@each $key, $value in $font-sizes {
  .font-#{$key} {
    font-size: $value;
  }
}

// COLORS
/*
.color-primary .color-bg-primary
*/
$colors: (
  'primary': #db9e3f,
  'white': #fff,
  'grey': #999,
  'bg': #ededed,
  'dark': #212222,
  'black': #000,
  'info': #1e96ab,
  'hot': #ff3636,
  'race': #4d9cff,
);
@each $key, $value in $colors {
  .color-#{$key} {
    color: $value;
  }
  .color-bg-#{$key} {
    background-color: $value;
  }
}

// ALIGN
/*
.text-left .text-center .text-right
*/
$aligns: (left, center, right);
@each $value in $aligns {
  .text-#{$value} {
    text-align: $value;
  }
}

// FLEXBOX
/*
.d-flex
*/
.d-flex {
  display: flex;
}
/*
.flex-row .flex-col
*/
@each $key, $value in ('row': row, 'col': column) {
  .flex-#{$key} {
    flex-direction: $value;
  }
}
/*
.flex-wrap
*/
.flex-wrap {
  flex-wrap: wrap;
}
/*
.flex-j-start   .flex-j-center .flex-j-end
.flex-j-between .flex-j-around .flex-j-evenly
*/
@each $key,
  $value
    in (
      'start': flex-start,
      'center': center,
      'end': flex-end,
      'between': space-between,
      'around': space-around,
      'evenly': space-evenly
    )
{
  .flex-j-#{$key} {
    justify-content: $value;
  }
}
/*
.flex-a-start   .flex-a-center .flex-a-end
.flex-a-baseline .flex-a-stretch
*/
@each $key, $value in ('start': flex-start, 'center': center, 'end': flex-end, 'baseline': baseline, 'stretch': stretch)
{
  .flex-a-#{$key} {
    align-items: $value;
  }
}
/*
.flex-grow .flex-noshrink
*/
.flex-grow {
  flex-grow: 1;
}
.flex-noshrink {
  flex-shrink: 0;
}

// SPACING
$spc-types: (
  'm': margin,
  'p': padding,
);
$spc-base-size: 0.26rem; // 13px same as .font-md
$spc-levels: (
  '0': 0,
  '1': 0.25,
  '2': 0.5,
  '3': 1,
  '4': 1.5,
  '5': 3,
);
$spc-directions: (
  't': top,
  'r': right,
  'b': bottom,
  'l': left,
);
@each $typeKey, $typeValue in $spc-types {
  @each $levelKey, $levelValue in $spc-levels {
    /* m-1 p-1 */
    .#{$typeKey}-#{$levelKey} {
      #{$typeValue}: $levelValue * $spc-base-size;
    }
    /* mx-1 py-1 */
    .#{$typeKey}x-#{$levelKey} {
      #{$typeValue}-left: $levelValue * $spc-base-size;
      #{$typeValue}-right: $levelValue * $spc-base-size;
    }
    .#{$typeKey}y-#{$levelKey} {
      #{$typeValue}-top: $levelValue * $spc-base-size;
      #{$typeValue}-bottom: $levelValue * $spc-base-size;
    }
  }
  /* mt-1 pr-1 mb-2 pl-3 */
  @each $dirKey, $dirValue in $spc-directions {
    @each $levelKey, $levelValue in $spc-levels {
      .#{$typeKey}#{$dirKey}-#{$levelKey} {
        #{$typeValue}-#{$dirValue}: $levelValue * $spc-base-size;
      }
    }
  }
}
